<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title class="ion-text-center">
      Favorite Countries
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/search']"> <ion-icon name="search-outline"></ion-icon> </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar style="padding-top: 5%;" class="ion-justify-content-center">
    <ion-searchbar [(ngModel)]="searchVal" (ionChange)="searchChanged(searchVal)"></ion-searchbar>
  </ion-toolbar>


    <ion-list *ngFor="let country of countryList">    
      
      <ion-item-sliding >
        <ion-item [routerLink]="['/search/',country]">{{country}}</ion-item>
        <ion-item-options>
          <ion-item-option color="danger" (click)="removeCountry(country)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>


</ion-content>
