<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title class="ion-text-center">
      Favorite Countries
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/search']"> <ion-icon name="search-outline"></ion-icon> </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar style="padding-top: 5%;" class="ion-justify-content-center">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>


  <div *ngIf="countryList else noCountry">

    <ion-list *ngFor="let country of countryList">      
      <ion-item>{{country}}</ion-item>
    </ion-list>

  </div>

  <ng-template #noCountry>
    <div class="ion-text-center">No Country in favorites, add some :)</div>
  </ng-template>



</ion-content>
