<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title class="ion-text-center">
      Favorite Countries
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/search']"> <ion-icon name="search-outline"></ion-icon> </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar style="padding-top: 5%;" class="ion-justify-content-center">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>


  <ion-list>
    <ion-item>Amsterdam</ion-item>
    <ion-item>Bogota</ion-item>
    <ion-item>Buenos Aires</ion-item>
    <ion-item>Cairo</ion-item>
    <ion-item>Dhaka</ion-item>

  </ion-list>

</ion-content>
